<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="11.11.05" ExportDate="2021-03-23T10:08:16.2370561+01:00">
  <Header>
    <App Guid="d2365022-78f5-42fc-8bf5-9b9558a9af3a" />
    <Language Default="en-us" />
    <Dimensions>
      <Dimension DimensionID="42" Name="English (United States)" SystemKey="" ExternalKey="en-US" Active="true" />
      <Dimension DimensionID="43" Name="Deutsch (Deutschland)" SystemKey="" ExternalKey="de-DE" Active="true" />
    </Dimensions>
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="884e65b4-8f1c-4bc9-897f-147dcabeb941" Name="Accordion" Description="Accordion section" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="efa399ae-1451-47f6-ab8b-d2c2ce6e8478" Json="True" KeyNumber="988">
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-default" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Title" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Titel" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="69659c1a-7ef5-4000-b70c-cd2c4d6c7fd6" Json="True" KeyNumber="988" />
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="2aaf4e9a-3ed0-47cb-91d6-8d7c38c56110" Json="True" KeyNumber="988">
            <Value Key="RowCount" Value="" Type="Number">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Icon" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="f685c5a3-ebcd-40e4-9a80-5d03e67b5895" Json="True" KeyNumber="989">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-font-icon-picker" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Symbol (optional)" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Symbol (optional)" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;The symbol is not required.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Das Symbol ist nicht vorausgesetzt.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="da97204d-fbae-4f6c-a9d4-5a74e14f61b4" Json="True" KeyNumber="989">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-font-icon-picker" AttributeSetName="@string-font-icon-picker" EntityGUID="c388f144-05ec-4711-a8ac-1a83ed48d905" Json="True" KeyNumber="989">
            <Value Key="CssPrefix" Value=".fa-" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Files" Value="[App:Path]/dist/lib/fontawesome/css/fontawesome-nobrands.min.css" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="PreviewCss" Value="fas" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="DesignedContent" Type="Entity" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="fc0ea3df-b4a4-44a1-9ce9-3dc5851d336f" Json="True" KeyNumber="990">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="entity-content-blocks" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Contents" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Inhalte" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="5846d679-b6b8-4582-95c3-a8f6e887964e" Json="True" KeyNumber="990">
            <Value Key="AllowMultiValue" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EnableAddExisting" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EnableCreate" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EnableDelete" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EnableEdit" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EnableRemove" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="EntityType" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="InitiallyExpanded" Type="Boolean" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="27de0339-c7af-4a0c-955f-d6cac7e4e735" Json="True" KeyNumber="1002">
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="boolean-default" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Initially expanded" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Geöffnet" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;this section of the accordion is openend by default&lt;/p&gt;" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;diesen Abschnitt standardm&amp;auml;ssig &amp;ouml;ffnen&lt;/p&gt;" Type="String">
              <Dimension DimensionID="43" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="c7a17a24-3dd1-4450-9c24-3b76ae8a6e28" Json="True" KeyNumber="1002" />
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="DemoItemMessage" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="cda4fc9e-806f-4ff7-9df1-c3dfd8cda879" Json="True" KeyNumber="1053">
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-wysiwyg" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Demo Item Message" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Show this when previewing the accordion&lt;/p&gt;" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="42" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="7f4f1d48-deb8-4843-bf1a-ec0d4d7acead" Json="True" KeyNumber="1053" />
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="41a79a08-f461-4b47-9bc6-a5717b7bc0c2" Json="True" KeyNumber="49">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="Accordion" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="Akkordeon" Type="String">
        <Dimension DimensionID="43" ReadOnly="false" />
      </Value>
      <Value Key="Folder" Value="Accordion3" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Hidden" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="OriginalId" Value="d2365022-78f5-42fc-8bf5-9b9558a9af3a" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="RequiredVersion" Value="11.00.00" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Version" Value="03.00.01" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="1bdd64e8-da9f-43be-a87f-4da1ffe29ab5" KeyNumber="49" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="3d1d5c74-2154-46cb-b4f1-d84fdeb7fea4" KeyNumber="49">
      <Value Key="DemoItemMessage" Value="&lt;p&gt;You are seeing the demo content. Once you edit this accordion, this text will disappear and you will be able to add your own content inside this accordion.&lt;/p&gt;&#xA;&lt;p&gt;Take a look at &lt;a href=&quot;https://azing.org/2sxc/l/0SdD61V7/app-accordion&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;these azing checklists&lt;/a&gt;, if you need help.&lt;/p&gt;" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="DemoItemMessage" Value="&lt;p&gt;Sie sehen zur Zeit Demodaten. Sobald Sie diesen Akkordeon-Abschnitt&amp;nbsp;bearbeiten, verschwindet dieser Text und Sie k&amp;ouml;nnen dann weitere Inhalte in diesem Abschnitt einf&amp;uuml;gen.&amp;nbsp;&lt;/p&gt;&#xA;&lt;p&gt;Schauen Sie sich&amp;nbsp;&lt;a href=&quot;https://azing.org/2sxc/l/0SdD61V7/app-accordion&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;diese azing checklists&lt;/a&gt;&amp;nbsp;an, wenn Sie hilfe ben&amp;ouml;tigen.&lt;/p&gt;" Type="String">
        <Dimension DimensionID="43" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="884e65b4-8f1c-4bc9-897f-147dcabeb941" AttributeSetName="Accordion" EntityGUID="e90752f1-29d5-46a3-984c-408d97feae91">
      <Value Key="DesignedContent" Value="fba253bd-ecd6-4999-8b01-916f6b758118" Type="Entity" />
      <Value Key="Icon" Value="fa-bullseye" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="InitiallyExpanded" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Demo Accordion" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Demo Akkordeon" Type="String">
        <Dimension DimensionID="43" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="14f785f2-a337-4ac3-ac42-3d19313b0423" Json="True">
      <Value Key="ContentDemoEntity" Value="e90752f1-29d5-46a3-984c-408d97feae91" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="884e65b4-8f1c-4bc9-897f-147dcabeb941" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Content Accordion" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Akkordeon" Type="String">
        <Dimension DimensionID="43" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_Accordion.cshtml" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="Default,ListContent" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="True" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="ContentGroupReference" AttributeSetName="ContentGroupReference" EntityGUID="fba253bd-ecd6-4999-8b01-916f6b758118" Json="True">
      <Value Key="App" Value="Default" Type="String" />
      <Value Key="ShowTemplateChooser" Value="False" Type="Boolean" />
      <Value Key="Title" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="3937fa17-ef2d-40a7-b089-64164eb10bab" AttributeSetName="2sxcPolymorphismConfiguration" EntityGUID="a5b0c8f6-3ae5-4db9-af97-fe8067a2c0bb" Json="True">
      <Value Key="Mode" Value="Koi?cssFramework" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="884e65b4-8f1c-4bc9-897f-147dcabeb941" AttributeSetName="Accordion" EntityGUID="70e4e39f-e5ba-48cf-879d-7dac1e159442">
      <Value Key="DesignedContent" Value="556478b1-cb14-4cf0-a7cd-376c4c93e2ff" Type="Entity" />
      <Value Key="Icon" Value="fa-align-justify" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="InitiallyExpanded" Value="False" Type="Boolean">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Demo Accordion with long Content" Type="String">
        <Dimension DimensionID="42" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="ContentGroupReference" AttributeSetName="ContentGroupReference" EntityGUID="556478b1-cb14-4cf0-a7cd-376c4c93e2ff" Json="True">
      <Value Key="App" Value="Default" Type="String" />
      <Value Key="ContentGroup" Value="203feeb5-e5bd-44c7-9188-be5cf1b0eff7" Type="String" />
      <Value Key="Template" Value="0c650deb-9b70-4ae0-bca1-ccfb7b11af10" Type="String" />
      <Value Key="Title" Value="Demo" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="9767" RelativePath="adam/Accordion3/" />
  </PortalFolders>
</SexyContent>